# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:

weather_data = pd.read_csv("../output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Punta Arenas,40,CL,1603172953,78,-53.15,-70.92,39.20,5.82
1,Kadyy,94,RU,1603173503,93,57.79,43.19,34.66,9.26
2,Clyde River,90,CA,1603172993,91,70.47,-68.59,32.00,16.11
3,Albany,100,US,1603172966,78,42.60,-73.97,57.00,7.27
4,Salalah,2,OM,1603173504,58,17.02,54.09,86.00,5.82
...,...,...,...,...,...,...,...,...,...
550,Namatanai,99,PG,1603173680,71,-3.67,152.43,83.46,2.64
551,Kibaya,89,TZ,1603173681,60,-5.30,36.57,69.84,6.62
552,Tagusao,100,PH,1603173681,87,9.19,117.81,78.85,7.49
553,Nabire,100,ID,1603173482,68,-3.37,135.48,84.51,4.50
554,Tura,33,IN,1603173520,56,25.52,90.22,87.91,2.39

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [21]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
max_intensity

100

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
56,Birnin Kebbi,0,NG,1603173519,58,12.45,4.20,78.89,6.73
152,Marzuq,0,YE,1603173042,20,14.40,46.47,73.58,6.98
154,Zharkent,0,KZ,1603173548,17,44.16,80.00,71.83,5.53
175,Hurghada,0,EG,1603173226,53,27.26,33.81,77.00,9.17
239,Kita,0,ML,1603173573,54,13.03,-9.49,73.24,1.01
279,Inhambane,0,MZ,1603173587,57,-23.86,35.38,77.65,9.95
391,Bilma,0,NE,1603173043,16,18.69,12.92,79.97,3.67
415,Balkanabat,0,TM,1603173131,15,39.51,54.37,77.77,6.11
425,Baharly,0,TM,1603173641,15,38.44,57.43,75.72,3.56
431,Phalaborwa,0,ZA,1603173644,57,-23.94,31.14,78.80,3.36
508,Annau,0,TM,1603173668,16,37.89,58.52,73.40,4.70
536,Tessalit,0,ML,1603173653,19,20.20,1.01,76.41,7.54
546,Presidencia Roque Sáenz Peña,0,AR,1603173456,51,-26.79,-60.44,78.26,7.16

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                             City Country    Lat    Lng Hotel Name
56                   Birnin Kebbi      NG  12.45   4.20
152                        Marzuq      YE  14.40  46.47
154                      Zharkent      KZ  44.16  80.00
175                      Hurghada      EG  27.26  33.81
239                          Kita      ML  13.03  -9.49
279                     Inhambane      MZ -23.86  35.38
391                         Bilma      NE  18.69  12.92
415                    Balkanabat      TM  39.51  54.37
425                       Baharly      TM  38.44  57.43
431                    Phalaborwa      ZA -23.94  31.14
508                         Annau      TM  37.89  58.52
536                      Tessalit      ML  20.20   1.01
546  Presidencia Roque Sáenz Peña      AR -26.79 -60.44

In [25]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [27]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 56: Birnin Kebbi.
Closest hotel in Birnin Kebbi is Saffar Guest Inn Ltd.
------------
Retrieving Results for Index 152: Marzuq.
Missing field/result... skipping.
------------
Retrieving Results for Index 154: Zharkent.
Closest hotel in Zharkent is Orbulaq Hotel.
------------
Retrieving Results for Index 175: Hurghada.
Closest hotel in Hurghada is Meraki Resort (Adults Only).
------------
Retrieving Results for Index 239: Kita.
Closest hotel in Kita is HÔTEL LE RELAIS.
------------
Retrieving Results for Index 279: Inhambane.
Closest hotel in Inhambane is Hotel Casa Do Capitão.
------------
Retrieving Results for Index 391: Bilma.
Missing field/result... skipping.
------------
Retrieving Results for Index 415: Balkanabat.
Closest hotel in Balkanabat is Nebitchi Hotel.
------------
Retrieving Results for Index 425: Baharly.
Missing field/result... skipping.
------------
Retrieving Results for Index 431: Phalaborwa.
Closest hotel in Phalaborwa is Matimba Bush Lodge.
------------
Retrieving Results for Index 508: Annau.
Missing field/result... skipping.
------------
Retrieving Results for Index 536: Tessalit.
Missing field/result... skipping.
------------
Retrieving Results for Index 546: Presidencia Roque Sáenz Peña.
Closest hotel in Presidencia Roque Sáenz Peña is Apart temporario LHOTAK.
------------
-------End of Search-------

In [28]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
56,Birnin Kebbi,NG,12.45,4.20,Saffar Guest Inn Ltd
152,Marzuq,YE,14.40,46.47,
154,Zharkent,KZ,44.16,80.00,Orbulaq Hotel
175,Hurghada,EG,27.26,33.81,Meraki Resort (Adults Only)
239,Kita,ML,13.03,-9.49,HÔTEL LE RELAIS
279,Inhambane,MZ,-23.86,35.38,Hotel Casa Do Capitão
391,Bilma,NE,18.69,12.92,
415,Balkanabat,TM,39.51,54.37,Nebitchi Hotel
425,Baharly,TM,38.44,57.43,
431,Phalaborwa,ZA,-23.94,31.14,Matimba Bush Lodge
508,Annau,TM,37.89,58.52,
536,Tessalit,ML,20.20,1.01,
546,Presidencia Roque Sáenz Peña,AR,-26.79,-60.44,Apart temporario LHOTAK

In [29]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [30]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))