# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

weather_data = pd.read_csv("../output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Busselton,9,AU,1603329641,66,-33.65,115.33,60.01,3.00
1,Upernavik,62,GL,1603329641,95,72.79,-56.15,23.99,4.34
2,Plumlov,0,CZ,1603329642,93,49.47,17.02,44.60,3.36
3,Mataura,86,NZ,1603329642,49,-46.19,168.86,66.00,5.01
4,Kruisfontein,0,ZA,1603329642,67,-34.00,24.73,55.22,5.84
...,...,...,...,...,...,...,...,...,...
536,Beringovskiy,86,RU,1603329807,77,63.05,179.32,41.23,7.00
537,Şile,87,TR,1603329807,87,41.18,29.61,60.80,4.70
538,Suntar,0,RU,1603329807,94,62.14,117.63,15.78,3.94
539,Dosso,0,NE,1603329743,34,13.05,3.19,82.85,6.40
540,Muros,32,ES,1603329808,87,42.78,-9.06,59.00,13.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
max_intensity

100

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# We Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 70 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
36,Airai,0,TL,1603329652,43,-8.93,125.41,78.62,1.10
73,Amlamé,0,TG,1603329663,90,7.47,0.90,70.95,1.34
116,Birnin Kebbi,0,NG,1603329678,29,12.45,4.20,79.99,4.18
131,Diapaga,0,BF,1603329682,36,12.07,1.79,79.45,3.51
216,Garhwa,0,IN,1603329709,76,24.18,83.82,71.19,2.42
243,Bar Bigha,0,IN,1603329658,75,25.22,85.73,74.79,3.96
279,Kiryat Gat,0,IL,1603329730,77,31.61,34.76,72.00,3.36
281,Angoche,0,MZ,1603329731,80,-16.23,39.91,75.29,7.83
288,Nokaneng,0,BW,1603329734,34,-19.67,22.27,70.75,8.01
323,Sinnamary,0,GF,1603329744,83,5.38,-52.95,79.79,9.62
326,Savalou,0,BJ,1603329744,91,7.93,1.98,75.16,3.87
417,Pachperwa,0,IN,1603329599,67,27.52,82.65,71.38,2.51
433,Rājgarh,0,IN,1603329775,28,28.63,75.38,75.13,7.29
444,Ubari,0,LY,1603329778,44,26.59,12.78,70.66,9.55
445,Beni Mazar,0,EG,1603329778,70,28.50,30.80,70.61,6.55
450,Hīt,0,IQ,1603329779,27,33.64,42.83,74.30,9.48
466,Agadez,0,NE,1603329785,18,19.75,10.25,75.60,6.35
483,Balad,0,IQ,1603329789,26,34.02,44.15,72.54,9.64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

             City Country    Lat     Lng Hotel Name
36          Airai      TL  -8.93  125.41
73         Amlamé      TG   7.47    0.90
116  Birnin Kebbi      NG  12.45    4.20
131       Diapaga      BF  12.07    1.79
216        Garhwa      IN  24.18   83.82
243     Bar Bigha      IN  25.22   85.73
279    Kiryat Gat      IL  31.61   34.76
281       Angoche      MZ -16.23   39.91
288      Nokaneng      BW -19.67   22.27
323     Sinnamary      GF   5.38  -52.95
326       Savalou      BJ   7.93    1.98
417     Pachperwa      IN  27.52   82.65
433       Rājgarh      IN  28.63   75.38
444         Ubari      LY  26.59   12.78
445    Beni Mazar      EG  28.50   30.80
450           Hīt      IQ  33.64   42.83
466        Agadez      NE  19.75   10.25
483         Balad      IQ  34.02   44.15

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [9]:
for index, row in hotel_df.iterrows():
    # get city name, lattitude and longitude from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request for code
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extracting the results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 36: Airai.
Missing field/result... skipping.
------------
Retrieving Results for Index 73: Amlamé.
Missing field/result... skipping.
------------
Retrieving Results for Index 116: Birnin Kebbi.
Closest hotel in Birnin Kebbi is Saffar Guest Inn Ltd.
------------
Retrieving Results for Index 131: Diapaga.
Missing field/result... skipping.
------------
Retrieving Results for Index 216: Garhwa.
Closest hotel in Garhwa is Hotel Royal Padmavati.
------------
Retrieving Results for Index 243: Bar Bigha.
Missing field/result... skipping.
------------
Retrieving Results for Index 279: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 281: Angoche.
Closest hotel in Angoche is Guest House HESADA.
------------
Retrieving Results for Index 288: Nokaneng.
Missing field/result... skipping.
------------
Retrieving Results for Index 323: Sinnamary.
Closest hotel in Sinnamary is L'oiseau de Paradis.
------------
Retrieving Results for Index 326: Savalou.
Closest hotel in Savalou is Hotel La Reference.
------------
Retrieving Results for Index 417: Pachperwa.
Closest hotel in Pachperwa is Kalla Hotel.
------------
Retrieving Results for Index 433: Rājgarh.
Closest hotel in Rājgarh is Hotel Gulab Palace.
------------
Retrieving Results for Index 444: Ubari.
Closest hotel in Ubari is فندق أوباري.
------------
Retrieving Results for Index 445: Beni Mazar.
Closest hotel in Beni Mazar is Dawar omda.
------------
Retrieving Results for Index 450: Hīt.
Missing field/result... skipping.
------------
Retrieving Results for Index 466: Agadez.
Missing field/result... skipping.
------------
Retrieving Results for Index 483: Balad.
Closest hotel in Balad is مجلس الربيعي.
------------
-------End of Search-------

In [10]:
# Display the hotel dataframe
hotel_df

             City Country    Lat     Lng             Hotel Name
36          Airai      TL  -8.93  125.41
73         Amlamé      TG   7.47    0.90
116  Birnin Kebbi      NG  12.45    4.20   Saffar Guest Inn Ltd
131       Diapaga      BF  12.07    1.79
216        Garhwa      IN  24.18   83.82  Hotel Royal Padmavati
243     Bar Bigha      IN  25.22   85.73
279    Kiryat Gat      IL  31.61   34.76             Desert Gat
281       Angoche      MZ -16.23   39.91     Guest House HESADA
288      Nokaneng      BW -19.67   22.27
323     Sinnamary      GF   5.38  -52.95    L'oiseau de Paradis
326       Savalou      BJ   7.93    1.98     Hotel La Reference
417     Pachperwa      IN  27.52   82.65            Kalla Hotel
433       Rājgarh      IN  28.63   75.38     Hotel Gulab Palace
444         Ubari      LY  26.59   12.78            فندق أوباري
445    Beni Mazar      EG  28.50   30.80             Dawar omda
450           Hīt      IQ  33.64   42.83
466        Agadez      NE  19.75   10.25
483         Balad      IQ  34.02   44.15           مجلس الربيعي

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))