### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:


total_players = purchase_data["SN"].value_counts()
players_df = len(total_players)
players_df = pd.DataFrame ({"Total Players": [players_df]})
players_df = players_df[["Total Players"]]
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items =len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], "Number of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})
summary_df = summary_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
summary_df = summary_df.round(2)

summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
new_data_df = purchase_data.loc[:, ["Gender", "SN", "Age"]]

new_data_df = new_data_df.drop_duplicates()

In [5]:
count_gender = new_data_df["Gender"].value_counts()
count_gender.head()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [6]:
percentage_gender = (count_gender/len(total_players))* 100
percentage_gender = percentage_gender.round(2)

percentage_gender.head()

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [7]:



gender_demo = pd.DataFrame({"Total Count" : count_gender, "Percentage of Players" : percentage_gender})
gender_demo.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo = gender_demo[["Total Count", "Percentage of Players"]]
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}%".format)
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
average_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
avg_per_person = total_purchase_value/count_gender

purchase_summary = pd.DataFrame(({"Purchase Count":purchase_count,
                                         "Average Purchase Price": average_purchase_price,
                                         "Total Purchase Value": total_purchase_value,
                                         "Avg Total Purchase per Person": avg_per_person}))
purchase_summary = purchase_summary[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

purchase_summary = purchase_summary.round(2)

purchase_summary["Average Purchase Price"] = purchase_summary["Average Purchase Price"].map("${:.2f}".format)
purchase_summary["Total Purchase Value"] = purchase_summary["Total Purchase Value"].map("${:.2f}".format)
purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,4.47
Male,652,$3.02,$1967.64,4.07
Other / Non-Disclosed,15,$3.35,$50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins= [0,10,15,20,25,30,35,40,999]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [10]:
age_data = new_data_df.loc[:,["SN","Age"]]
age_data["Age Ranges"] = pd.cut(age_data["Age"], bins, labels=group_names)
age_data.head()

              SN  Age Age Ranges
0        Lisim78   20      15-19
1    Lisovynya38   40      35-39
2     Ithergue48   24      20-24
3  Chamassasya86   24      20-24
4      Iskosia90   23      20-24

In [11]:
age_total_count = age_data["Age Ranges"].value_counts()
age_percents = (age_total_count / len(total_players) * 100).round(2)

age_demo = pd.DataFrame({"Total Count": age_total_count, "Percentage of Players": age_percents})

age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}%".format)
age_demo

       Total Count Percentage of Players
20-24          232                40.28%
15-19          150                26.04%
25-29           59                10.24%
10-14           41                 7.12%
30-34           37                 6.42%
35-39           26                 4.51%
<10             24                 4.17%
40+              7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
purchase_data = purchase_data.drop_duplicates()

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [14]:
age_purchase = purchase_data.groupby("Age Ranges")

In [15]:
age_purchase_count = age_purchase["SN"].count()
total_purchase_value = age_purchase["Price"].sum()
avg_purchase_price_age = age_purchase["Price"].mean()
avg_per_person_age = total_purchase_value/age_purchase_count

age_summary = pd.DataFrame(({"Purchase Count": age_purchase_count,
                                         "Average Purchase Price": avg_purchase_price_age,
                                         "Total Purchase Value": total_purchase_value,
                                         "Avg Total Purchase per Person": avg_per_person_age}))
age_summary = age_summary[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

age_summary = age_summary.round(2)

age_summary["Average Purchase Price"] = age_summary["Average Purchase Price"].map("${:.2f}".format)
age_summary["Total Purchase Value"] = age_summary["Total Purchase Value"].map("${:.2f}".format)
age_summary["Avg Total Purchase per Person"] = age_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,32,$3.40,$108.96,$3.40
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,33,$3.40,$112.35,$3.40
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame